@import "utilities/variables";
@import "utilities/mapas";
@import "utilities/mixin";
@import "utilities/extend";
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	background-color: $color-principal;
    .btn-wsp{
        position:fixed;
        width:60px;
        height:60px;
        line-height: 63px;
        bottom:25px;
        right:25px;
        background: $boton-whatsapp;
        border-radius:50px;
        text-align:center;
        font-size:35px;
        box-shadow: 0px 1px 10px $borde-whatsapp;
        z-index:100;
        transition: all 300ms ease;
        .whatsapp{
            width: 42px;
            height: 42px;
            margin-bottom: 1rem;
        }
    }
    .btn-wsp:hover{
        background: $boton-whatsapp-on;
    }
    header{
        min-width: 257px;
        width: map-get($map: $standard, $key: width-standard);
        position: fixed !important;
        z-index: 100;
        .container-fluid{
            .row{
                .navegacion{
                    padding-top: 0%;
                    padding-bottom: 0%;
                    background-color: $color-menu;
                    padding: 0% 5%;
                    .menu{
                        display: flex;
                        min-width: 145px;
                        padding: 0;
                        .logotipo{
                            @extend %flex;
                            .logo{
                                width: 4rem;
                                height: 4rem;
                                background-color: $color-logo;
                            }
                            .caja{
                                @extend %flex;
                                flex-direction: column;
                                margin-left: 1rem;
                                .titulo{
                                    font-family: 'Pacifico', cursive;
                                    font-size: 1.5rem;
                                    color: $color-titulo;
                                }
                                .subtitulo{
                                    font-family: 'Pacifico', cursive;
                                    font-size: 1.5rem;
                                    color: $color-subtitulo;
                                }
                            }
                        }
                        .lista{
                            display: flexbox;
                            justify-content: center;
                            background-color: rgba(0, 0, 0, 0);
                            .box{
                                gap: 1rem;
                                .enlace{
                                    color: $color-enlace;
                                    font-size: 18px;
                                    padding: 7px 13px;
                                    border-radius: 3px;
                                    text-transform: uppercase;
                                    font-family: 'Istok Web', sans-serif;   
                                }
                                .enlace.active, .enlace:hover{
                                    background: $marco-enlace;
                                    transition: .5s;
                                    color: $color-enlace-on;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .media{
        background-image: url(../img/imagen-fondo.jpg) ;
        background-position: center;
        min-height: 100vh;
        min-width: 400px;
        @extend %flex;
        background-size: cover;
        flex-direction: column;
        background-blend-mode: soft-light;
        background-color: $color-media;
        text-decoration-color: $text-decoration;
        .titular-media{
            font-family: 'Signika Negative', sans-serif;
            font-size: 2rem;
            color: $titular-media;
            text-align: center;
        }
        .parrafo-media{
            font-family: 'Signika Negative', sans-serif;
            font-size: 1.2rem;
            color: $parrafo-media;
            text-align: center;
        }  
    }
    .scroll-down {
        display: none;
        height: 60px;
        width: 50px;
        border: 2px solid $scroll-down;
        position: absolute;
        left: 48.5%;
        bottom: 20px;
        border-radius: 50px;
        cursor: pointer;
    }
    .scroll-down::before,
    .scroll-down::after {
        content: "";
        position: absolute;
        top: 20%;
        left: 50%;
        height: 16px;
        width: 16px;
        transform: translate(-50%, -100%) rotate(45deg);
        border: 2px solid $borde-scroll;
        border-top: transparent;
        border-left: transparent;
        animation: scroll-down 1s ease-in-out infinite;
    }
    .scroll-down::before {
        top: 30%;
        animation-delay: 0.3s;
        
    }
          
    @keyframes scroll-down {
    0% {
       /* top:20%; */
        opacity: 0;
       }
        30% {
        opacity: 1;
       }
        60% {
        opacity: 1;
       }
        100% {
        top: 90%;
        opacity: 0;
       }
    }
    section{
        display: flex;
        flex-direction: column;
        align-items: center;
        min-width: 400px;
        .detalles{
            display: flex;
            flex-direction: column;
            margin: 4.7rem 1rem 0 1rem;
            padding-bottom: 3rem;
            .portada-uno{
                width: 25rem;
                height: 35rem;
            }
            .portada-dos{
                width: 25rem;
                height: 35rem;
            }
            .portada-tres{
                width: 25rem;
                height: 35rem;
            }
            .ambientacion{
                text-decoration: underline;
                font-family: 'Signika Negative', sans-serif;
                font-size: 2rem;
                text-align: center;
                color: $ambientacion;
            }
            .ambientacion-parrafo{
                color: $ambientacion-parrafo;
                max-width: 379px;
                font-family: 'Signika Negative', sans-serif;
                font-size: 1.3rem;
                text-align: center; 
            }
            .hoteleria{
                text-decoration: underline;
                font-family: 'Signika Negative', sans-serif;
                font-size: 2rem;
                text-align: center;
                color: $hoteleria;
            }
            .hoteleria-parrafo{
                color: $hoteleria-parrafo;
                max-width: 379px;
                font-family: 'Signika Negative', sans-serif;
                font-size: 1.3rem;
                text-align: center;
            }
            .deco{
                text-decoration: underline;
                font-family: 'Signika Negative', sans-serif;
                font-size: 2rem;
                text-align: center;
                color: $deco;
            }
            .deco-parrafo{
                color: $deco-parrafo;
                max-width: 379px;
                font-family: 'Signika Negative', sans-serif;
                font-size: 1.3rem;
                text-align: center;
                
            }
        }
        .video{
            display: none;
        }
        .referencia{
            .marca{
                font-family: 'Signika Negative', sans-serif;
                font-size: 1.5rem;
                text-align: center;
                padding-top: 2rem;
                padding-bottom: 2rem;
            }
            .empresas{
                display: grid;
                grid-template-columns: auto auto;
                grid-template-rows: auto auto auto auto auto auto;
                grid-template-areas: "marca-uno marca-dos"
                                     "marca-tres marca-cuatro"
                                     "marca-cinco marca-seis"
                                     "marca-siete marca-ocho"
                                     "marca-nueve marca-diez"
                                     "marca-once marca-doce"
                                     ;
                gap: 2rem;
                margin-bottom: 4rem;
                .marca-uno{
                    grid-area: marca-uno;
                    @include box-model;
                }
                .marca-dos{
                    grid-area: marca-dos;
                    @include box-model;
                }
                .marca-tres{
                    grid-area: marca-tres;
                    @include box-model;
                }
                .marca-cuatro{
                    grid-area: marca-cuatro;
                    @include box-model;
                }
                .marca-cinco{
                    grid-area: marca-cinco;
                    @include box-model;
                }
                .marca-seis{
                    grid-area: marca-seis;
                    @include box-model;
                }
                .marca-siete{
                    grid-area: marca-siete;
                    @include box-model;
                }
                .marca-ocho{
                    grid-area: marca-ocho;
                    @include box-model;
                }
                .marca-nueve{
                    grid-area: marca-nueve;
                    @include box-model;
                }
                .marca-diez{
                    grid-area: marca-diez;
                    @include box-model;
                }
                .marca-once{
                    grid-area: marca-once;
                    @include box-model;
                }
                .marca-doce{
                    grid-area: marca-doce;
                    @include box-model;
                }
                
            }
        }

    }
    .proyectos{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        min-width: 400px;
        padding-top: 8rem;
        padding-bottom: 5rem;
        gap: 1rem;
        img{
            width: 24rem;
            height: 35rem;
            min-height: 288px;
        }
        p{
            max-width: 379px;
        }
        .titulo-proyecto{
            @extend %titulo-proyecto;
        }
        .subtitulo-uno{
            @extend %subtitulo-proyectos;
        }
        .parrafo-uno{
            @extend %parrafo-proyectos;
        }        
        .subtitulo-dos{
            @extend %subtitulo-proyectos;
      
        }
        .parrafo-dos{
            @extend %parrafo-proyectos;
        }  
        .subtitulo-tres{
            @extend %subtitulo-proyectos;
        }
        .parrafo-tres{
            @extend %parrafo-proyectos;
        }  
        .subtitulo-cuatro{
            @extend %subtitulo-proyectos;    
        }
        .parrafo-cuatro{
            @extend %parrafo-proyectos;
        }  
        .subtitulo-cinco{
            @extend %subtitulo-proyectos;        
        }
        .parrafo-cinco{
            @extend %parrafo-proyectos;
        }  
        .subtitulo-seis{
            @extend %subtitulo-proyectos;      
        }
        .parrafo-seis{
            @extend %parrafo-proyectos;   
        }  
      
        .subtitulo-siete{
            @extend %subtitulo-proyectos;        
        }
        .parrafo-siete{
            @extend %parrafo-proyectos;        
        }  
      
        .subtitulo-ocho{
            @extend %subtitulo-proyectos;       
        }
        .parrafo-ocho{
            @extend %parrafo-proyectos;      
        }  
        
        .subtitulo-nueve{
            @extend %subtitulo-proyectos;       
        }
        .parrafo-nueve{
            @extend %parrafo-proyectos;       
        }  
       
        .subtitulo-diez{
            @extend %subtitulo-proyectos;      
        }
        .parrafo-diez{
            @extend %parrafo-proyectos;      
        }  
       
        .subtitulo-once{
            @extend %subtitulo-proyectos;     
        }
        .parrafo-once{
            @extend %parrafo-proyectos;       
        }  
        
        .subtitulo-doce{
            @extend %subtitulo-proyectos;      
        }
        .parrafo-doce{
            @extend %parrafo-proyectos;    
        }  
        .subtitulo-trece{
            @extend %subtitulo-proyectos;      
        }
        .parrafo-trece{
            @extend %parrafo-proyectos;       
        }  
        .subtitulo-catorce{
            @extend %subtitulo-proyectos;       
        }
        .parrafo-catorce{
            @extend %parrafo-proyectos;      
        }  
        .subtitulo-quince{
            @extend %subtitulo-proyectos;      
        }
        .parrafo-quince{
            @extend %parrafo-proyectos;    
        }  
        .subtitulo-dieciseis{
            @extend %subtitulo-proyectos;       
        }
        .parrafo-dieciseis{
            @extend %parrafo-proyectos;     
        }  
        .subtitulo-diecisiete{
            @extend %subtitulo-proyectos;      
        }
        .parrafo-diecisiete{
            @extend %parrafo-proyectos;       
        }  
        
        .subtitulo-dieciocho{
            @extend %subtitulo-proyectos;      
        }
        .parrafo-dieciocho{
            @extend %parrafo-proyectos;      
        }  
    }
    .fotos{
        padding-top: 8rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        min-width: 400px;
        padding-bottom: 5rem;
        .fotos-titulo{
            text-transform: uppercase;
            text-align: center;
            color: $fotos-titulo;
            max-width: 607px;
            font-family: 'Signika Negative', sans-serif;
            font-size: 1.8rem;
        }
        
        .foto-uno, .foto-dos, .foto-tres, .foto-cuatro, .foto-cinco, .foto-seis, .foto-siete, .foto-ocho, .foto-nueve, .foto-diez, .foto-once, .foto-doce{
            width: 24rem;
            height: 31rem;
            margin: 0rem 0rem 5rem 0rem;
        }
        p{
            font-size: 1.3rem;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
        }
        
    }
    .team{
        .nosotros {
            @extend %flex;
            flex-direction: column;
            padding-top: 8rem;
            min-width: 400px;
            padding-bottom: 5rem;
            .nosotros-titulo{
                font-family: 'Signika Negative', sans-serif;
            }
            .nosotros-equipo{
                display: flex;
                flex-direction: column;
                align-items: center;
                .nosotros-cami, .nosotros-ale, .nosotros-jaqui{
                    width: 400px;
                    height: 400px;
                }
                .titulo-cami{
                    @extend %titulo-equipo;
                }
                .parrafo-cami{
                    @extend %parrafo-equipo;
                }
                .titulo-ale{
                    @extend %titulo-equipo;
                }
                .parrafo-ale{
                    @extend %parrafo-equipo;
                }
                .titulo-jaqui{
                    @extend %titulo-equipo;
                }
                .parrafo-jaqui{
                    @extend %parrafo-equipo;
                }
            }
        }
    }
    .formulario{
         margin-bottom: 4rem;
        .row{
            .col-12{
                .imagen-contacto{
                    width: map-get($map: $standard, $key: width-standard);
                    min-width: 376px;
                    height: 60vh;
                }
                .planilla{
                    min-width: 376px;
                }
                .parrafo-contacto{
                    font-family: 'Signika Negative', sans-serif;
                    min-width: 376px;
                    color: $parrafo-contacto;
                    text-align: start;
                }                
            }
        }
    }
    .pie{
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto auto auto;
        grid-template-areas: "pie-nosotros informacion pie-titulo"
                             "pie-descripcion informacion redes"
                             "copyright copyright copyright"
                             ;
        align-items: center;
        min-width: 400px;
        padding-top: 3rem;
        background-color: $color-pie;
        .pie-nosotros{
             grid-area: pie-nosotros;
             text-align: center;
             min-width: 225px;
             max-width: 255px;
             margin: 0 0.4rem;
             justify-self: center;
             font-size: 1.4rem;
        }
        .pie-descripcion{
             grid-area: pie-descripcion;
             text-align: center;
             min-width: 225px;
             width: 225px;
             display: flex;
             justify-content: center;
             justify-self: center;
             margin: 0 0.4rem 4rem 0.4rem;
        }
        .informacion{
             grid-area: informacion;
             display: flex;
             flex-direction: column;
             justify-content: center;
             align-items: center;
             border-left-style: solid;
             border-right-style: solid;
             nav{
                .informacion-lista{
                     display: flex;
                     flex-direction: column;
                     padding-left: 0;
                     row-gap: 2rem;
                     li{
                         list-style: none;
                          a{
                             text-decoration: none;
                             color: $informacion-footer;
                           }
                       }
                    }
                }
        }
        .pie-titulo{
             grid-area: pie-titulo;
             text-align: center;
             font-size: 1.4rem;
        }
        .redes{
             grid-area: redes;
             display: flex;
             flex-direction: column;
             justify-content: center;
             align-items: center;
             row-gap: 1rem;
        }
        .copyright{
             grid-area: copyright;
             text-align: center;
             font-size: 1rem;
             padding-top: 3rem;
        }
        .oficina{
             display: none;
        } 
        .mapa{
             display: none;
        }        
        .direccion{
             display: none;
        }
}

@media screen and (min-width:400px){
    .scroll-down {
        display: inline;
    }
    }
@media screen and (min-width:833px){
    section{
        .video{
            display: flex;
        }
        .detalles{
            display: grid;
            grid-template-columns: auto auto;
            grid-template-rows: auto auto auto auto auto auto;
            grid-template-areas: "portada-uno ambientacion"
                                 "portada-uno ambientacion-parrafo"
                                 "portada-dos hoteleria"
                                 "portada-dos hoteleria-parrafo"
                                 "portada-tres deco"
                                 "portada-tres deco-parrafo"
                                 ;
            gap: 2rem;
            justify-content: center;
            .portada-uno{
                grid-area: portada-uno;
            }
            .portada-dos{
                grid-area: portada-dos;
            }
            .portada-tres{
                grid-area: portada-tres;
            }
            .ambientacion{
                grid-area: ambientacion;
                text-align: center;
                padding-top: 12rem;
            }
            .ambientacion-parrafo{
                grid-area: ambientacion-parrafo;
                padding-bottom: 7rem;
            }
            .hoteleria{
                grid-area: hoteleria;
                text-align: center;
                padding-top: 12rem;
            }
            .hoteleria-parrafo{
                grid-area: hoteleria-parrafo;
                padding-bottom: 7rem;
            }
            .deco{
                grid-area: deco;
                text-align: center;
                padding-top: 12rem;
            }
            .deco-parrafo{
                grid-area: deco-parrafo;
                padding-bottom: 7rem;
            }
        }
        .referencia{
            .empresas{
                display: grid;
                grid-template-columns: auto auto auto;
                grid-template-rows: auto auto auto auto;
                grid-template-areas: "marca-uno marca-dos marca-tres"
                                     "marca-cuatro marca-cinco marca-seis"
                                     "marca-siete marca-ocho marca-nueve"
                                     "marca-diez marca-once marca-doce"
                                     ;
            }
        }
    }
    .proyectos{
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
        grid-template-areas: "titulo-proyecto titulo-proyecto"
                             "proyecto-uno proyecto-dos"
                             "subtitulo-uno subtitulo-dos"
                             "parrafo-uno parrafo-dos"
                             "proyecto-tres proyecto-cuatro"
                             "subtitulo-tres subtitulo-cuatro"
                             "parrafo-tres parrafo-cuatro"
                             "proyecto-cinco proyecto-seis"
                             "subtitulo-cinco subtitulo-seis"
                             "parrafo-cinco parrafo-seis"
                             "proyecto-siete proyecto-ocho"
                             "subtitulo-siete subtitulo-ocho"
                             "parrafo-siete parrafo-ocho"
                             "proyecto-nueve proyecto-diez"
                             "subtitulo-nueve subtitulo-diez"
                             "parrafo-nueve parrafo-diez"
                             "proyecto-once proyecto-doce"
                             "subtitulo-once subtitulo-doce"
                             "parrafo-once parrafo-doce"
                             "proyecto-trece proyecto-catorce"
                             "subtitulo-trece subtitulo-catorce"
                             "parrafo-trece parrafo-catorce"
                             "proyecto-quince proyecto-dieciseis"
                             "subtitulo-quince subtitulo-dieciseis"
                             "parrafo-quince parrafo-dieciseis"
                             "proyecto-diecisiete proyecto-dieciocho"
                             "subtitulo-diecisiete subtitulo-dieciocho"
                             "parrafo-diecisiete parrafo-dieciocho"
                             ;
        justify-content: center;
        justify-items: center;
        gap: 2rem;
        padding-bottom: 5rem;
        .titulo-proyecto{
            grid-area: titulo-proyecto;
        }
        .proyecto-uno{
            grid-area: proyecto-uno;
        }
        .subtitulo-uno{
            grid-area: subtitulo-uno;
        }
        .parrafo-uno{
            grid-area: parrafo-uno;
        }
        .proyecto-dos{
            grid-area: proyecto-dos;
        }
        .subtitulo-dos{
            grid-area: subtitulo-dos;
        }
        .parrafo-dos{
            grid-area: parrafo-dos;
        }
        
        .proyecto-tres{
            grid-area: proyecto-tres;
        }
        .subtitulo-tres{
            grid-area: subtitulo-tres;
        }
        .parrafo-tres{
            grid-area: parrafo-tres;
        }
        
        .proyecto-cuatro{
            grid-area: proyecto-cuatro;
        }
        .subtitulo-cuatro{
            grid-area: subtitulo-cuatro;
        }
        .parrafo-cuatro{
            grid-area: parrafo-cuatro;
        }
        
        .proyecto-cinco{
            grid-area: proyecto-cinco;
        }
        .subtitulo-cinco{
            grid-area: subtitulo-cinco;
        }
        .parrafo-cinco{
            grid-area: parrafo-cinco;
        }
        
        .proyecto-seis{
            grid-area: proyecto-seis;
        }
        .subtitulo-seis{
            grid-area: subtitulo-seis;
        }
        .parrafo-seis{
            grid-area: parrafo-seis;
        }
        
        .proyecto-siete{
            grid-area: proyecto-siete;
        }
        .subtitulo-siete{
            grid-area: subtitulo-siete;
        }
        .parrafo-siete{
            grid-area: parrafo-siete;
        }
        
        .proyecto-ocho{
            grid-area: proyecto-ocho;
        }
        .subtitulo-ocho{
            grid-area: subtitulo-ocho;
        }
        .parrafo-ocho{
            grid-area: parrafo-ocho;
        }
        
        .proyecto-nueve{
            grid-area: proyecto-nueve;
        }
        .subtitulo-nueve{
            grid-area: subtitulo-nueve;
        }
        .parrafo-nueve{
            grid-area: parrafo-nueve;
        }
        
        .proyecto-diez{
            grid-area: proyecto-diez;
        }
        .subtitulo-diez{
            grid-area: subtitulo-diez;
        }
        .parrafo-diez{
            grid-area: parrafo-diez;
        }
        
        .proyecto-once{
            grid-area: proyecto-once;
        }
        .subtitulo-once{
            grid-area: subtitulo-once;
        }
        .parrafo-once{
            grid-area: parrafo-once;
        }
        
        .proyecto-doce{
            grid-area: proyecto-doce;
        }
        .subtitulo-doce{
            grid-area: subtitulo-doce;
        }
        .parrafo-doce{
            grid-area: parrafo-doce;
        }
        
        .proyecto-trece{
            grid-area: proyecto-trece;
        }
        .subtitulo-trece{
            grid-area: subtitulo-trece;
        }
        .parrafo-trece{
            grid-area: parrafo-trece;
        }
        
        .proyecto-catorce{
            grid-area: proyecto-catorce;
        }
        .subtitulo-catorce{
            grid-area: subtitulo-catorce;
        }
        .parrafo-catorce{
            grid-area: parrafo-catorce;
        }
        .proyecto-quince{
            grid-area: proyecto-quince;
        }
        .subtitulo-quince{
            grid-area: subtitulo-quince;
        }
        .parrafo-quince{
            grid-area: parrafo-quince;
        }
        .proyecto-dieciseis{
            grid-area: proyecto-dieciseis;
        }
        .subtitulo-dieciseis{
            grid-area: subtitulo-dieciseis;
        }
        .parrafo-dieciseis{
            grid-area: parrafo-dieciseis;
        }
        .proyecto-diecisiete{
            grid-area: proyecto-diecisiete;
        }
        .subtitulo-diecisiete{
            grid-area: subtitulo-diecisiete;
        }
        .parrafo-diecisiete{
            grid-area: parrafo-diecisiete;
        }
        .proyecto-dieciocho{
            grid-area: proyecto-dieciocho;
        }
        .subtitulo-dieciocho{
            grid-area: subtitulo-dieciocho;
        }
        .parrafo-dieciocho{
            grid-area: parrafo-dieciocho;
        }
        .proyectos img{
            width: 25rem;
            height: 37rem;
        }
    }
    .fotos{
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto auto auto auto auto auto auto auto auto auto auto auto;
        grid-template-areas: "fotos-titulo fotos-titulo"
                             "foto-titulo-uno foto-titulo-dos"
                             "foto-uno foto-dos"
                             "foto-titulo-tres foto-titulo-cuatro"
                             "foto-tres foto-cuatro"
                             "foto-titulo-cinco foto-titulo-seis"
                             "foto-cinco foto-seis"
                             "foto-titulo-siete foto-titulo-ocho"
                             "foto-siete foto-ocho"
                             "foto-titulo-nueve foto-titulo-diez"
                             "foto-nueve foto-diez"
                             "foto-titulo-once foto-titulo-doce"
                             "foto-once foto-doce"
                             ;
        align-items: center;
        justify-content: center;
        align-items: center;
        justify-items: center;
        gap: 1rem;
        .fotos-titulo{
            grid-area: fotos-titulo;
        }
        .foto-titulo-uno{
            grid-area: foto-titulo-uno;
        }
        .foto-uno{
            grid-area: foto-uno;
        }
        .foto-titulo-dos{
            grid-area: foto-titulo-dos;
        }
        .foto-dos{
            grid-area: foto-dos;
        }
        .foto-titulo-tres{
            grid-area: foto-titulo-tres;
        }
        .foto-tres{
            grid-area: foto-tres;
        }
        .foto-titulo-cuatro{
            grid-area: foto-titulo-cuatro;
        }
        .foto-cuatro{
            grid-area: foto-cuatro;
        }
        .foto-titulo-cinco{
            grid-area: foto-titulo-cinco;
        }
        .foto-cinco{
            grid-area: foto-cinco;
        }
        .foto-titulo-seis{
            grid-area: foto-titulo-seis;
        }
        .foto-seis{
            grid-area: foto-seis;
        }
        .foto-titulo-siete{
            grid-area: foto-titulo-siete;
        }
        .foto-siete{
            grid-area: foto-siete;
        }
        .foto-titulo-ocho{
            grid-area: foto-titulo-ocho;
        }
        .foto-ocho{
            grid-area: foto-ocho;
        }
        .foto-titulo-nueve{
            grid-area: foto-titulo-nueve;
        }
        .foto-nueve{
            grid-area: foto-nueve;
        }
        .foto-titulo-diez{
            grid-area: foto-titulo-diez;
        }
        .foto-diez{
            grid-area: foto-diez;
        }
        .foto-titulo-once{
            grid-area: foto-titulo-once;
        }
        .foto-once{
            grid-area: foto-once;
        }
        .foto-titulo-doce{
            grid-area: foto-titulo-doce;
        }
        .foto-doce{
            grid-area: foto-doce;
        }
    } 
}
@media screen and (min-width:1241px){
    header{
        .container-fluid{
            .row{
                .navegacion{
                    .menu{
                        .logotipo{
                            .caja{ 
                                flex-direction: row;
                                column-gap: 0.7rem;
                            }
                        }
                    }
                }
            }
        }
    }
    section{
        .detalles{
            display: grid;
            grid-template-columns: auto auto;
            grid-template-rows: auto auto auto auto auto auto;
            grid-template-areas: "portada-uno portada-dos portada-tres"
                                 "ambientacion hoteleria deco"
                                 "ambientacion-parrafo hoteleria-parrafo deco-parrafo"
                                 ;
            column-gap: 1rem;
            .ambientacion{
                padding-top: 0rem;
            }
            .ambientacion-parrafo{
                padding-bottom: 0rem;
            }
            .hoteleria{
                padding-top: 0rem;
            }
            .hoteleria-parrafo{
                padding-bottom: 2rem;
            }
            .deco{
                padding-top: 0rem;
            }
            .deco-parrafo{
                padding-bottom: 0rem;
            }
            
        }
        .referencia{
            .empresas{
                grid-template-columns: auto auto auto;
                grid-template-rows: auto auto auto auto;
                grid-template-areas: "marca-uno marca-dos marca-tres marca-cuatro marca-cinco marca-seis"
                                     "marca-siete marca-ocho marca-nueve marca-diez marca-once marca-doce"
                                     ;
            }
        }
    }
    .proyectos{
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
        grid-template-areas: "titulo-proyecto titulo-proyecto titulo-proyecto"
                             "proyecto-uno proyecto-dos proyecto-tres"
                             "subtitulo-uno subtitulo-dos subtitulo-tres"
                             "parrafo-uno parrafo-dos parrafo-tres"
                             "proyecto-cuatro proyecto-cinco proyecto-seis"
                             "subtitulo-cuatro subtitulo-cinco subtitulo-seis"
                             "parrafo-cuatro parrafo-cinco parrafo-seis"
                             "proyecto-siete proyecto-ocho proyecto-nueve"
                             "subtitulo-siete subtitulo-ocho subtitulo-nueve"
                             "parrafo-siete parrafo-ocho parrafo-nueve"
                             "proyecto-diez proyecto-once proyecto-doce"
                             "subtitulo-diez subtitulo-once subtitulo-doce"
                             "parrafo-diez parrafo-once parrafo-doce"
                             "proyecto-trece proyecto-catorce proyecto-quince"
                             "subtitulo-trece subtitulo-catorce subtitulo-quince"
                             "parrafo-trece parrafo-catorce parrafo-quince"
                             "proyecto-dieciseis proyecto-diecisiete proyecto-dieciocho"
                             "subtitulo-dieciseis subtitulo-diecisiete subtitulo-dieciocho"
                             "parrafo-dieciseis parrafo-diecisiete parrafo-dieciocho"
                             
                             ;
        
        gap: 1rem;
        padding-bottom: 5rem;
    }
    .fotos{
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto auto auto;
        grid-template-areas: "fotos-titulo fotos-titulo fotos-titulo"
                             "foto-titulo-uno foto-titulo-dos foto-titulo-tres"
                             "foto-uno foto-dos foto-tres"
                             "foto-titulo-cuatro foto-titulo-cinco foto-titulo-seis"
                             "foto-cuatro foto-cinco foto-seis"
                             "foto-titulo-siete foto-titulo-ocho foto-titulo-nueve"
                             "foto-siete foto-ocho foto-nueve"
                             "foto-titulo-diez foto-titulo-once foto-titulo-doce"
                             "foto-diez foto-once foto-doce"
                             ;
        align-items: center;
        justify-content: center;
        align-items: center;
        justify-items: center;
        gap: 1rem;
    }
    .team{
        .nosotros{
            .nosotros-equipo {
                display: grid;
                grid-template-columns: auto auto auto;
                grid-template-rows: auto;
                grid-template-areas: "nosotros-cami nosotros-ale nosotros-jaqui"
                                      "titulo-cami titulo-ale titulo-jaqui"
                                      "parrafo-cami parrafo-ale parrafo-jaqui"
                        
                                     ;
                align-items: center;
                justify-content: center;
                align-items: center;
                justify-items: center;
                gap: 1rem;
                .nosotros-cami{
                    grid-area: nosotros-cami;
                }
                .titulo-cami{
                    grid-area: titulo-cami;
                }
                .parrafo-cami{
                    grid-area: parrafo-cami;
                }
                .nosotros-ale{
                    grid-area: nosotros-ale;
                }
                .titulo-ale{
                    grid-area: titulo-ale;
                }
                .parrafo-ale{
                    grid-area: parrafo-ale;
                }
                .nosotros-jaqui{
                    grid-area: nosotros-jaqui;
                }
                .titulo-jaqui{
                    grid-area: titulo-jaqui;
                }
                .parrafo-jaqui{
                    grid-area: parrafo-jaqui;
                }
            }
        }
    }
    .pie{
        display: grid;
        grid-template-columns: auto auto auto auto;
        grid-template-rows: auto auto auto auto;
        grid-template-areas: "pie-nosotros informacion pie-titulo oficina"
                             "pie-descripcion informacion redes mapa"
                             "pie-decripcion informacion redes direccion"
                             "copyright copyright copyright copyright";
        .oficina{
            grid-area: oficina;
            display: block;
            font-size: 1.5rem;
        }
        .mapa{
            grid-area: mapa;
            display: block;
        }
        .direccion{
            grid-area: direccion;
            display: block;
            font-size: 1rem;
            margin-top: 0.5rem;
        }
        
    }
    
}
}



































