$color-principal: #E4DCCF;
$color-menu: #F0EBE3 !important;
$color-pie: #527277;
$color-logo: transparent;
$color-enlace-on: rgb(255, 255, 255) ;
$marco-enlace: #274444;
$color-media: rgba(0, 0, 0, 0.59); 
$color-titulo: black;
$color-subtitulo: black;
$color-enlace: black;
$boton-whatsapp:#25d366;
$borde-whatsapp:rgba(0, 0, 0, 0.822);
$boton-whatsapp-on: #20ba5a;
$text-decoration:rgb(69, 69, 1);
$titular-media:rgb(212, 210, 210);
$parrafo-media:rgb(212, 210, 210);
$scroll-down:rgb(255, 255, 255);
$borde-scroll: rgb(255, 255, 255);
$ambientacion: black;
$ambientacion-parrafo: black;
$hoteleria: black;
$hoteleria-parrafo: black;
$deco: black;
$deco-parrafo: black;
$fotos-titulo: black;
$parrafo-contacto: black;
$informacion-footer: beige;